*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(250, 250, 250, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.title-color,
.footer-heading-color {
  color: rgba(253, 146, 34, 1);
}

.container {
  width: 100%; /* розтягуйся скільки хочеш */
  max-width: 1168px; /* але не більше ніж 1168px */
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

/* -------------------------------------------------------------------- */
/* -------------------------------header------------------------------- */
/* -------------------------------------------------------------------- */
.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  gap: 90px;
  align-items: center;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: rgba(17, 17, 17, 1);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu {
  display: flex;
  gap: 24px;
}

.header-socials {
  display: flex;
  gap: 14px;
}

.menu-item-link {
  color: rgba(17, 17, 17, 1);
}

/* -------------------------------------------------------------------- */
/* -----------------------section-1 - start-page----------------------- */
/* -------------------------------------------------------------------- */
.start-page-section {
  padding-bottom: 80px;
}

.start-container {
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.6);
  padding: 380px 40px 40px 40px;
}
.start-page-title {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 32px;
  max-width: 484px;
}

.start-buttons-container {
  display: flex;
  align-items: center;
  gap: 14px;
}

.start-page-button,
.start-page-link {
  color: rgba(255, 255, 255, 1);
  border-radius: 100px;
  padding: 14px 40px;
}

.start-page-button {
  background-color: rgba(253, 146, 34, 1);
  border: none;
}

.start-page-button:hover,
.start-page-button:active {
  background-color: rgba(252, 241, 224, 1);
  color: rgba(253, 146, 34, 1);
}

.start-page-link {
  border: 1px solid rgba(255, 255, 255, 1);
}

.start-page-link:hover,
.start-page-link:active {
  border: 1px solid rgba(253, 146, 34, 1);
  color: rgba(253, 146, 34, 1);
}

.start-page-scroll {
  color: rgba(255, 255, 255, 1);
}

/* -------------------------------------------------------------------- */
/* ------------------------section-2 - benefits------------------------ */
/* -------------------------------------------------------------------- */
.benefits-section {
  background-color: rgba(30, 24, 35, 1);
  color: rgba(255, 255, 255, 1);
  padding-top: 50px;
  padding-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.benefits-item-text {
  margin-top: 18px;
  color: rgba(255, 255, 255, 0.7);
}

/* --------------------------------------------------------------------- */
/* -----------------------section-3 - ingredients----------------------- */
/* --------------------------------------------------------------------- */
.ingredients-section,
.recept-section,
.products-section,
.sellers-section,
.review-section {
  padding-bottom: 120px;
}

.ingredients-section {
  padding-top: 120px;
}

.ingredients-container {
}

.ingredients-title {
  margin-bottom: 28px;
  max-width: 412px;
}

.ingredients-text {
  margin-bottom: 50px;
  max-width: 486px;
}

.ingredients-list {
}
.ingredients-item-orange {
}
.ingredients-item-image {
}
.ingredients-item-subtitle {
}
.ingredients-item-white {
}
.ingredients-item-violet {
}

.ingredients-text {
  text-align: center;
}

.ingredients-list-item {
  text-transform: uppercase;
  border-radius: 15px;
  overflow: hidden;
}

/* -------------------------------------------------------------------- */
/* -------------------------section-4 - recept------------------------- */
/* -------------------------------------------------------------------- */
.recept-section {
  color: rgba(17, 17, 17, 1);
}

.recept-container {
}

.recept-title {
  margin-bottom: 50px;
}

.title-color {
}
.recept-image {
}

.recept-subtitle {
  margin-bottom: 28px;
}

.recept-list-container {
  background-color: rgba(255, 255, 255, 1);
  padding: 32px;
  max-width: 516px;
  border-radius: 15px;
}

.recept-list {
}

.recept-list-item:not(:last-child) {
  margin-bottom: 24px;
}

.recept-item-text {
}

.recept-image {
  border-radius: 15px;
}

.recept-list > li {
  list-style-type: disc;
}

/* -------------------------------------------------------------------- */
/* ------------------------section-5 - products------------------------ */
/* -------------------------------------------------------------------- */
.products-section {
}
.container {
}
.products-container {
}
.products-title {
  margin-bottom: 50px;
}
.title-color {
}
.products-list {
}
.products-list-item {
}
.products-item-image {
  margin-bottom: 8px;
  padding: 32px 20px 0;
}
.products-item-subtitle {
  margin-bottom: 2px;
}
.products-item-text {
  margin-bottom: 18px;
}
.products-item-button {
  margin-bottom: 32px;
}

.products-list-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: rgba(250, 250, 250, 1);
  overflow: hidden;
}

.products-item-subtitle {
  text-transform: uppercase;
}

.products-item-text {
  color: rgba(17, 17, 17, 0.7);
}

.products-item-button {
  color: rgba(17, 17, 17, 1);
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: rgba(250, 250, 250, 1);
  padding: 8px 20px;
}

/* --------------------------------------------------------------------- */
/* -----------------------section-6 - top sellers----------------------- */
/* --------------------------------------------------------------------- */
.sellers-section {
}
.container {
}
.sellers-container {
}
.sellers-title {
  margin-bottom: 50px;
}
.title-color {
}
.sellers-list {
}
.sellers-list-item {
}
.sellers-item-image {
}
.sellers-item-subtitle {
}

.sellers-item-image {
  border-radius: 15px 15px 0px 0px;
}

.sellers-item-subtitle {
  text-transform: uppercase;
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background-color: rgba(255, 255, 255, 1);
}

/* --------------------------------------------------------------------- */
/* ---------------section-7 - review (chocolate is loved)--------------- */
/* --------------------------------------------------------------------- */
.review-section {
}
.review-title {
  margin-bottom: 50px;
}
.title-color {
}
.review-list {
}
.review-list-item {
}
.review-item-image {
}
.review-item-subtitle {
}
.review-item-text {
}
.review-button {
  margin-top: 50px;
}

.review-image {
  border-radius: 80px;
}

.review-item-subtitle {
  text-align: center;
}

.review-item-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
}

.review-button {
  color: rgba(17, 17, 17, 1);
  border-radius: 100px;
  border: 1px solid rgba(253, 146, 34, 1);
  padding: 14px 40px;
}

/* -------------------------------------------------------------------- */
/* -------------------------------footer------------------------------- */
/* -------------------------------------------------------------------- */
.footer {
}
.footer-heading {
}
.footer-heading-color {
}
.footer-subtitle {
}
.footer-list-social {
}
.footer-social-item {
}
.footer-item-image {
}
.footer-address {
}
.footer-address-list {
}
.address-list-item {
}
.address-item-link {
}
.footer-navigation {
}
.footer-navigation-list {
}
.navigation-list-item {
}
.navigation-item-link {
}
.footer-button {
}

.footer {
  background-color: rgba(30, 24, 35, 1);
}

.footer-heading {
  color: rgba(255, 255, 255, 1);
}

.footer-subtitle {
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.address-item-link {
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.navigation-item-link {
  color: rgba(255, 255, 255, 1);
}

.footer-button {
  color: rgba(255, 255, 255, 1);
  border-radius: 100px;
  background: rgba(253, 146, 34, 1);
  padding: 17px 40px;
}
